# this is the default value for the backend URL when running the client locally. When you deploy your frontend, make sure to update this value to point to your deployed backend URL (e.g., https://vipulauth.onrender.com) to ensure that the client can communicate with the server correctly.
VITE_BACKEND_URL=http://localhost:8000
# your deployed backend URL (e.g., https://vipulauthstack.onrendaer.com) to ensure that the client can communicate with the server correctly.
VITE_BACKEND_URL=backend url